@import '../../styles/colors';

.nav__btn_themeColor {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: none;
}

.nav__btn_themeColor_body {
    display: flex;
    align-items: center;
    width: 27px;
    height: 25px;
    justify-content: center;   
}

.svg__moon {
    color: #FF9933;
}

.svg__sun {
    color: white;
}