@import './colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


.light {
    .text {
        color: $dark-900;
    }

    .text-sh {
        color: $dark-500
    }

    .bg {
        background-color: $white-000;
    }

    .pop__person {
        background: linear-gradient(to bottom,
                #336699 0% 30%,
                #6699CC 30% 100%);
    }

    .nav__bg {
        background-color: #003366
    }

    .icon__person {
        color: white
    }

    .btn {
        color: $dark-900;
        background-color: $white-honeydew;
    }

    .p__panding {
        border-color: #CC6633;
    }

    .p__success {
        border-color: #339999;
    }
}



.dark {
    .text {
        color: $white-honeydew
    }

    .text-sh {
        color: rgb(137, 137, 137);
    }

    .bg {
        background-color: $dark-500;
    }

    .pop__person {
        background: linear-gradient(to bottom,
                $dark-700 0% 30%,
                $dark-600 30% 100%);
        border-radius: 5px;
    }

    .nav__bg {
        background-color: $dark-700;
    }


    .icon__person {
        color: $white-honeydew;
    }

    .btn {
        color: $dark-900;
        background-color: $white-honeydew;
    }

    .p__panding {
        border-color: rgb(232, 115, 19);
    }

    .p__success {
        border-color: rgb(19, 163, 48);
    }


}