@import '../../styles/colors';
@import '../../styles/theme';

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    height: 50px;
}

.nav_children {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 50px);
}

.nav__right {
    display: flex;
    gap: 8px;
    align-items: center;
}
.nav__title {
    font-size: 30px;
    font-weight: 600;
    color: $white-anrique;
}